{% extends 'home/base.html' %}

{% block content %}
<h1>My Projects</h1>

{% for project in projects %}
  <div style="margin-bottom: 30px;">
    <a href="{% url 'project_detail' project.pk %}">
      {% if project.image %}
        <img src="{{ project.image.url }}" alt="{{ project.title }}" style="width: 300px; height: auto;">
      {% endif %}
      <h3>{{ project.title }}</h3>
    </a>
    <p><strong>Tech:</strong> {{ project.technology }}</p>
    <a href="{{ project.link }}" target="_blank">External Link</a>
  </div>
  <hr>
{% endfor %}



{% endblock %}
